body {
    background-color: #00044c;
}


h1 {
    margin-top: 0;
    font-family: Sacramento, serif;
    font-size: 2.5rem;
    color: #0ce4bc;
    line-height: 2;

}

h2, h3, h4 {
    font-family: Montserrat, serif;
    font-size: 2rem;
    color: #0ce4bc;
    font-weight: normal;
}


.app-header-title {
    text-align: left;
    padding-left: 3%;
}


.graph-title {
    padding-bottom: 2%;
    margin: 0;
    text-align: left;
    font-size: 2rem;
}

/* Main part*/

.main-content {
    padding-left: 3%;
    padding-right: 3%;
    margin: 0;
    position: relative;
    padding-bottom: 2%;


}

.main-chart {
    background-color: #000560;
    border-radius: 20px;
    height: 520px;
    width: 1030px;
}

.statistical-data {
    position: absolute;
    right: 3%;
    background-color: #000560;
    border-radius: 20px;
    height: 520px;
}

.buttons {
    margin-left: 3%;
    margin-right: 3%;
}

.values-checklist {
    color: #0ce4bc;

}

/* Buttons patients and values*/


#parts > * {
    margin: 0 5px;
    display: flex;
}

#patients > * {
    margin: 0 5px;
}

.values-checklist {
    padding: 0;
}

.btn-stop {
    margin-left: 20px;
}

#my-slider {
    padding-left: 0;
}

.anomaly {
    position: absolute;
    right: 20%;
    bottom: 90%
}




